/**Universal**/

* {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

/**Navbar**/

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    margin: 0 auto;
    height: 69px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
}

nav li {
    display: inline-flex;
    align-content: flex-end;
    padding-right: 30px;
    margin: 0 auto;
    
}

nav a:hover {
    text-decoration: none;
}

/**Mission Statement**/

.mission-container {
    background-image: url("./images/img-mission-background.jpg");
    width: 95%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 700px;
}

.mission-info {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.mission-info h2 {
    font-size: 40px;
}

/**Monthly Tea**/

.monthly-tea-container {
    margin: 0 auto;
    position: relative;
    top: 70px;
    width: 50%;
    line-height: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.tea-images-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tea-images {
    text-align: center;
    line-height: 10px;
    margin: 0 1px;
}

.tea-images img {
    max-height: 200px;
    max-width: 300px;
}

/**Locations**/

.locations {
    position: relative;
    top: 60px;
    background-image: url(./images/img-locations-background.jpg);
    min-height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.locations h2 {
    display: inline-flex;
    background-color: transparent;
    margin-bottom: 300px;

}

.locations-parent {
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.locations-box {
    position: relative;
    top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    opacity: 1;
    margin: auto 40px;
}


/**Contact**/

.contact {
    position: relative;
    top: 50px;
    display: flex;
    flex-flow: wrap;
}

.contact-child {
    margin: 0 auto;
    line-height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer {
    margin-left: 20px;
}