* {
    font-family: helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    height: 69px;
    width: 100%;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
}

nav li {
    display: inline-flex;
    align-content: flex-end;
    padding-right: 30px;
}

nav a:hover {
    text-decoration: none;
}

.mission-container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    height: 700px;
}

.mission-info {
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 1200px;
}

.monthly-tea-container {
    margin: 0 auto;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
.tea-images-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.tea-images {
    text-align: center;
    line-height: 10px;
}

.tea-images img {
    max-height: 200px;
    max-width: 300px;
}



.locations {
    background-image: url(./images/img-locations-background.jpg);
    min-height: 500px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
}

.locations h1 {
    display: inline-flex;
    background-color: transparent;
    margin-bottom: 300px;

}

.locations-parent {
    background-color: transparent;
    position: absolute;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.locations-box {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    opacity: 1;
    margin: auto 40px;
}


footer {
    display: flex;
    flex-flow: wrap;
}

.footer-child {
    margin: 0 auto;
    line-height: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}